::selection {
  background: black;
  color: whitesmoke;
}

:root {
  color: floralwhite;
  background: green;
}

@media
  (prefers-contrast: more),
  (prefers-color-scheme: dark) {
  :root {
    background: darkgreen;
  }
}

:any-link {
  color: inherit;
}

:focus {
  text-shadow:
    -5px 0 0 yellow,
    3px 3px 0 yellow,
    3px -3px 0 yellow;
}
